target/
!.mvn/wrapper/maven-wrapper.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

.idea/
*.iws
*.iml
*.ipr
out/

.classpath
.project
.settings/
.vscode/

.DS_Store
Thumbs.db

logs/
*.log

.idea/httpRequests/
http-requests-log.http

.env.example
application-local.yml
*.env.local

*.class
*.jar
*.war

